<h1> Welcome home! </h1>

<form action="/favorites" method="GET">
    <label for="city">City</label>
    <input type="text" name="city" id="city" placeholder="Atlanta" value="">
    <label for="state">State</label>
    <input type="text" name="state" id="state" placeholder="Georgia" value="">
    <button type="submit">Send it</button>
    <a href="/favorites">View My Favorites</a>
</form>